<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.walmartlabs.ern.container">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
       <activity android:name="com.walmartlabs.ern.container.miniapps.AuthMiniappActivity"
                 android:exported="true" />
       <activity android:name="com.walmartlabs.ern.container.miniapps.MainMiniappActivity"
                 android:exported="true" />
       <activity android:name="com.walmartlabs.ern.container.miniapps.NotificationMiniappActivity"
                 android:exported="true" />
       <activity android:name="com.walmartlabs.ern.container.miniapps.ProfileMiniappActivity"
                 android:exported="true" />
       <activity android:name="com.walmartlabs.ern.container.miniapps.VoucherMiniappActivity"
                 android:exported="true" />
       <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
       <activity android:name=".devassist.ErnDevSettingsActivity"/>
    </application>
</manifest>
